node_modules
node_modules/*
.tmp
dist
.api
*.log
.api/*
.tmp/*
dist/*
.tmp/drop/pbiviz.json
.tmp/drop/visual.js
.tmp/precompile/src/visual.ts
.tmp/drop/pbiviz.json
.tmp/drop/status
.tmp/drop/visual.js.map
.tmp/drop/pbiviz.json
.tmp/drop/pbiviz.json
.tmp/drop/status
.tmp/drop/pbiviz.json
.tmp/drop/status
dist/PowerBI-visuals-forcasting-exp.pbiviz
out_files
out_files/*
dist/PowerBI-visuals-forcasting-exp.pbiviz
out.html.tmp
out.html.*
out.html_files/*
out.html_files
dist/PowerBI-visuals-forcasting-exp.pbiviz
assets/Presentation1.pptx
assets/*_testing.pbix
dist/PowerBI-visuals-forcasting-exp.pbiviz